.posts{
    background: #cacaca;
    border-radius: 50px;
    padding: 20px;
    ul{
        padding-left: 0;
    }
    li{
        list-style-type: none;
        position: relative;
        &:hover{
            span{
                display: block;
            }
        }
        p{
            &:first-child{
                font-weight: bold;
            }
        }
        span{
            background: #ca3c3c;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            font-size: 12px;
            height: 30px;
            width: 30px;
            text-align: center;
            border-radius: 15px;
            padding-top: 7px;
            position: absolute;
            top: -10px;
            right: -10px;
            display: none; 
        }
    }
}